@use "../../../common/settings/variables";
@use "../../../common/settings/text";
@use "../../../common/settings/colors";

.#{variables.$selector-prefix}-card {
  border-radius: 8px;
  color: colors.$black;

  h2 {
    font-weight: 600;
  }
}
