@use "../../../common/settings/colors";
@use "../../../common/settings/text";

.mega-menu .mega-menu__item {
  display: flex;
  width: 380px;
  top: 40px;
  padding: 0;
  background: #fff;

  .qu-cta a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
  }

  .row {
    align-items: center;
    height: 100%;

  }
}

.mega-menu .nav-item {
  position: relative;

  .nav-link,
  .dropdown-item {
    color: colors.$black;

    &:hover,
    &:focus,
    &:active {
      color: colors.$primary;
      background-color: transparent;
    }
  }
}

.mega-menu .nav-item .mega-menu__item {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease;
  z-index: 100;
}

.mega-menu .nav-item .mega-menu__item.show {
  visibility: visible;
  opacity: 1;
}

.mega-menu .nav-item .dropdown-menu {
  border: 1px solid colors.$light-gray;
  border-radius: 0;
  box-shadow: 3px 3px 10px 0 colors.$light-gray;
}

.navbar-nav > .nav-item > .nav-link {
  font-weight: text.$font-weight-semibold;

  &:hover,
  &:focus,
  &:active {
    color: colors.$dark-gray;
  }
}

.navbar-nav > .nav-item + .nav-item {
  margin-left: 20px;
}
