@using Renderer.Entities.StaticSection
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model ICompositeViewComponentContext<StaticSectionEntity>
<div class="container" data-sfcontainer="Container">

</div>