@using Renderer.Entities.StaticSection
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model ICompositeViewComponentContext<StaticSectionEntity>
<div class="container-fluid" data-sfcontainer="ContainerFluid">

</div>