@using Renderer.Entities.StaticSection
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model ICompositeViewComponentContext<StaticSectionEntity>
<section class="row">
    <div class="col-4" data-sfcontainer="Column1">
    </div>
    <div class="col" data-sfcontainer="Column2">
    </div>
</section>