@using Entities.CategorySelector;
@using ViewModels;
@using Progress.Sitefinity.AspNetCore.Web;

@model CategorySelectorViewModel
@inject IRequestContext requestContext;

<ul>
    @foreach (var category in this.Model.Categories)
    {
        var url = requestContext.PageNode.ViewUrl + "/-category-filter-" + category.Value;
        <li>
            @if (this.Model.SelectedCategory != null && this.Model.SelectedCategory == category.Value)
            {
                <b><a href="@url">@category.Key</a></b>
            }
            else
            {
                <a href="@url">@category.Key</a>
            }
        </li>
    }
</ul>
