@using Progress.Sitefinity.AspNetCore.Widgets.Models.Recommendations
@model RecommendationsViewModel

<div id="recommendations-wrapper-@Model.UniqueId" class="@Model.CssClass" @Html.BuildAttributes(@Model.Attributes, "ContentRecommendations")>
    <h4>@Model.Header</h4>
    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
</div>
