@model Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.SubmitButton.SubmitButtonViewModel

<div class="mb-3 @Model.CssClass" data-sf-role="submit-button-container">
    <button type="submit" class="btn btn-secondary">@Model.Label</button>
</div>
