$font-size-small: 13px;
$font-size-base: 15px;
$font-size-medium: 20px;

$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$heading-size-small: 15px;
$heading-size-medium: 36px;
$heading-size-large: 60px;