@using Progress.Sitefinity.AspNetCore.Mvc.Rendering;

@model color_palettes.ViewComponents.Colors.ColorsEntity

<h1 style="background-color: @Model.DefaultColor;">
   Default color palette color 
</h1>
<h1 style="background-color: @Model.CustomColor;">
   Custom color palette color 
</h1>