@model Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.SubmitButton.SubmitButtonViewModel

<div class="@Model.CssClass" data-sf-role="submit-button-container">
    <button type="submit">@Model.Label</button>
</div>
