@using content_selectors.ViewModels.SelectorDemoUsage

@model List<ItemCollection>

@foreach (var collection in this.Model)
{
    <h1>@collection.GroupTitle</h1>
    <ul>
        @if (collection.Items != null)
        {
            @foreach (var item in collection.Items)
            {
                <li>
                    (@item.GetValue<string>("Title"))
                    @if (item.TryGetValue("ThumbnailUrl", out string thumbnailUrl))
                    {
                        <img src="@thumbnailUrl" />
                    }
                </li>
            }
        }
    </ul>
}
