<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <p>Hello, @context.User.Identity?.Name!</p>
        </Authorized>
        <NotAuthorized>
            <p>You're not authorized.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
