@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* This tag helper is necessary for the section-name to work and include the script *@
@addTagHelper *, Progress.Sitefinity.AspNetCore

@using WidgetLibrary.Entities.HelloWorld;

@model HelloWorldEntity
<environment include="Development">
    <script src="scripts/hello.js" section-name="Bottom" assembly-ref="WidgetLibrary"></script>
</environment>
<environment exclude="Development">
    <script src="scripts/hello.min.js" section-name="Bottom" assembly-ref="WidgetLibrary"></script>
</environment>

<h1>@Model.Message</h1>
<h2 class="scriptRef"></h2>