@using Progress.Sitefinity.RestSdk.Dto
@model IList<Progress.Sitefinity.RestSdk.Dto.SdkItem>

<h1>News items</h1>

@foreach (var item in this.Model)
{
    <ul>
        <li>
            @(item.GetValue<string>("Title"))
            @{
                string thumbnailUrl = null;
                if (item.TryGetValue<SdkItem[]>("Thumbnail", out SdkItem[] thumbnails) && thumbnails.Length > 0)
                {
                    thumbnailUrl = thumbnails[0].GetValue<string>("ThumbnailUrl");
                }
                
            }
            @if (thumbnailUrl != null)
            {
                <img src="@thumbnailUrl" />
            }
        </li>
    </ul>
}