@model IList<sitefinity_data.ViewModels.SitefinityData.ItemViewModel>

<h1>News items</h1>

@foreach (var item in this.Model)
{
    <ul>
        <li>
            @item.Title
            @if (item.ThumbnailUrl != null)
            {
                <img src="@item.ThumbnailUrl" />
            }
        </li>
    </ul>
}