h1 {
    font-size: $heading-size-large;
    line-height: 1.1;
    margin-bottom: 0;
}

h2 {
    font-size: $heading-size-medium;
}

h4 {
    font-size: $heading-size-small;
}

h1,
h2 {
    font-weight: $font-weight-light;
}

h4,
b,
strong {
    font-weight: $font-weight-semibold;
}
