<script src="https://www.google.com/recaptcha/api.js" section-name="Bottom"></script>
<script src="Scripts/captcha3.js" section-name="Top" assembly-ref="SandboxWebApp"></script>

<div data-sf-role="captcha"></div>