@addTagHelper *, Progress.Sitefinity.AspNetCore

@using Progress.Sitefinity.AspNetCore.ViewComponents;

<script src="https://www.google.com/recaptcha/api.js" section-name="Bottom"></script>
<script src="scripts/captcha3.js" section-name="Top"></script>

<div data-sf-role="captcha"></div>