<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        section-name="Bottom"
        async defer></script>
<script src="Scripts/captcha2.js" section-name="Top" assembly-ref="SandboxWebApp"></script>

<div>
    <div id="captchav2"></div>
</div>