@using Progress.Sitefinity.RestSdk.Clients.Pages.Dto;

@model IList<PageNodeDto>

<ul>
    @for (int i = 0; i < Model.Count; i++)
    {
        var current = Model[i];
        <span>
            <a href="@current.ViewUrl">@current.Title</a>
            @if (i != Model.Count - 1)
            {
                @Html.Raw(">");
            }
        </span>
    }
</ul>
