.#{$selector-prefix}-quote {
    position: relative;
    display: inline-flex;
    width: 55px;
    height: 35px;
    font-size: 66px;

    &::after {
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: $font-family-symbol;
        font-weight: 800;
        content: "\201D";
    }
}
