@use "../../../../common/settings/colors";

$col-h-offset: 20px;

$heading-top-offset: 20px;
$heading-font-size: 28px;
$heading-font-weight: 500;
$heading-color: colors.$white;

$text-color: colors.$black;
$text-h-offset: 30px;

$image-min-height: 55px;