/* Place your css here */
.mega-menu .mega-menu__item {
    top: 40px;
    width: 50vw;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);
}

.mega-menu .nav-item {
    position: relative;
}

.mega-menu .nav-item .mega-menu__item {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease;
}

.mega-menu .nav-item:hover > .mega-menu__item {
    visibility: visible;
    opacity: 1;
}

