@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore

@using custom_section.ViewModels
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model StaticSectionViewModel
<div class="container" data-sfcontainer container-context="@this.Model.Context.ContainerContext("Column1", "Column 1")">

</div>
