@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore

@using custom_section.ViewModels
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model StaticSectionViewModel
<section class="row">
    <div class="col-4" data-sfcontainer container-context="@this.Model.Context.ContainerContext("Column1", "Column 1")">
    </div>
    <div class="col" data-sfcontainer container-context="@this.Model.Context.ContainerContext("Column2", "Column 2")">
    </div>
</section>
