@use "../../../common/settings/colors";
@use "../../../common/settings/text";

$col-h-offset: 20px;

$heading-top-offset: 20px;
$heading-color: colors.$white;

$text-color: colors.$black;
$text-h-offset: 30px;

$image-min-height: 55px;