.#{$selector-prefix}-txt-white {
    color: $white;
}

.#{$selector-prefix}-txt-gray {
    color: $gray;
}

.#{$selector-prefix}-txt-small {
    font-size: $font-size-small;
}

.#{$selector-prefix}-txt-medium {
    font-size: $font-size-medium;
}

.#{$selector-prefix}-txt-uppercase {
    text-transform: uppercase;
}
