@use "../../../common/settings/colors";
@use "../../../common/settings/text";

.project-phase {
    padding: 0;
    margin-top: 40px;

     h3 {
        color: colors.$black;
        margin-top: -10px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-weight: text.$font-weight-bold;
        white-space: nowrap;

        &::after{
            content: url("../assets/images/Arrow.png");
            margin-left: 30px;
        }        
    }

    img {
        opacity: 0.3;
    }

    p {
        color: colors.$black;
        font-size: text.$font-size-sm;
        padding-left: 10px;
        padding-right: 40px;
    }
}

.project-phase.-last h3::after{
    content: "";
}