@using sitefinity_data.ViewModels
@model IList<sitefinity_data.ViewModels.SitefinityData.ItemGroup>

<h1>News items</h1>
@foreach (var group in this.Model)
{
    <h3>@group.Name</h3>

    @foreach (var item in group.Items)
    {
        <ul>
            <li>
                @item.Title
                @if (item.RelatedMediaSingle != null && item.RelatedMediaSingle.Length > 0)
                {
                    @foreach (var image in item.RelatedMediaSingle)
                    {
                        <img src="@image" />
                    }
                }
            </li>
        </ul>
    }
}
