@model Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.SubmitButton.SubmitButtonViewModel

<div class="margin-bottom-1 @Model.CssClass" data-sf-role="submit-button-container">
    <button type="submit" class="button">@Model.Label</button>
</div>
