.qu-language-selector {

    &__button {
        color: #304546 !important;
        font-size: 20px;
        padding: 10px 15px;
        background-color: transparent;
        border: none;

        &::after {
            display: none;
        }
    }
}
