$primary: #00B4C9;
$primary-light: #37DEF3;
$action: #FFAE00;
$action-dark: #ff9939;
$complementary: #81dfb0;
$gradient-blue: #01B5C9;
$gradient-green: #77daa7;
$white: #FFF;
$black: #333;
$lightest-gray: #eee;
$light-gray: #ccc;
$gray: #777;
$dark-gray: #555;
$red: #ff0058;
