$font-size-small: .813rem;
$font-size-sm: .875rem;
$font-size-base: .938rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.25rem;
$font-size-xl: 1.5rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$heading-size-xs: .875rem;
$heading-size-s: .95rem;
$heading-size-m: 1.625rem;
$heading-size-ml: 1.75rem;
$heading-size-l: 2.25rem;
$heading-size-xl: 2.625rem;
$heading-size-2xl: 3.75rem;
$heading-size-3xl: 4.375rem;
