$font-size-small: .8rem;
$font-size-sm: .95rem;
$font-size-base: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.5rem;

$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$heading-size-small: .95rem;
$heading-size-medium: 1.625rem;
$heading-size-large: 2.25rem;
$heading-size-xl: 2.625rem;
$heading-size-2xl: 3.75rem;
$heading-size-3xl: 4.375rem;
