@use "../settings/common";

.mega-menu {
    margin-top: -50px;

    .mega-menu__item {
        padding: 0;
        background: #fff;

        .qu-cta a {
            text-decoration: none;
            padding: 0 10px;
            font-size: 14px;
            text-align: center;
        }

        .row {
            align-items: center;
            height: 100%;
        }
    }

    .nav-item {

        .mega-menu__item {
            display: none;
            opacity: 0;
            transition: all 0.1s ease;
            z-index: 100;
            width: 100%;

            &.show {
                display: flex;
                opacity: 1;
            }
        }
    }
}

@media (min-width: common.$md-breakpoint) {

  .mega-menu {
     margin-top: 0;

     .nav-item .mega-menu__item {
        position: absolute;
        width: 380px;
     }
  }
}
