@using custom_section.Entities.StaticSection
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model ICompositeViewComponentContext<StaticSectionEntity>
<div class="container" data-sf-container="Container">

</div>
