@using custom_section.Entities.StaticSection
@using Progress.Sitefinity.AspNetCore.ViewComponents

@model ICompositeViewComponentContext<StaticSectionEntity>
<section class="row">
    <div class="col-12" data-sf-container="Column1">
    </div>
</section>
