@model Progress.Sitefinity.RestSdk.Dto.SdkItem

@* ShortText, MetaTitle, MetaDescription, OpenGraphTitle, OpenGraphDescription *@
<h1>Short Text</h1>
<div>@(Model.GetValue<string>("TestShortText"))</div>